* {
  margin: 0;
  padding: 0
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

#frame {
  --duration: 0.7s;
  --anim-function: ease-in-out;
  --back: #333;
  background: var(--back);
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 40px;
}

#pac {
  padding: 110px;
}

.half {
  background: #f4d146;
  width: 90px;
  height: 45px;
}

#eye {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: var(--back);
  position: relative;
  top: 25px;
  left: 50px;
  z-index: 2;
  animation: eye var(--duration) infinite var(--anim-function);
}

@keyframes eye {
  50% {
    transform: translate(-3px, -3px);
  }
}

/*#top{
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  animation: anticlock var(--duration)  infinite var(--anim-function);
  transform-origin: bottom;
}

#bottom{
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  animation: clock var(--duration)  infinite var(--anim-function);
  transform-origin: top;
}

@keyframes anticlock{
  50%{transform: rotate(-40deg) ;}
}
@keyframes clock{
  50%{transform: rotate(40deg) ;}
}
#dots{
  position: absolute;
}
.dot{
  background: #f4d146;
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -160px;
  right: -300px;
  animation: walk 3s infinite linear;
}
@keyframes walk{
  to{
    transform: translate(-150px);
  }
}
#two{
  animation-delay: -0.6s;
}
#three{
  animation-delay: -1.2s;
}
#four{
  animation-delay: -1.8s;
}
#five{
  animation-delay: -2.4s;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
